<div id="app" class="bg-success-subtle" style="padding-top: 20px">
  <!--! NAVBAR -->
  <nav class="navbar navbar-expand-lg c">
    <div class="container-fluid bg-info c-2" style="display: block">
      <h1>tokoAfiyah</h1>
      <!-- button toggle -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse nav-ul mt-5"
        id="navbarTogglerDemo02"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="halamanInput">barang masuk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="barangTerjual">barang terjual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dataBarangMasuk">data barang masuk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dataBarangTerjual">data barang terjual</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--! NAVBAR END-->

  <!--! VIEW BARANG -->
  <div class="view bg-success">
    <h1
      class="text-center"
      style="text-transform: capitalize; margin-bottom: 15px"
    >
      data barang masuk
    </h1>

    <div class="container list">
      <div class="mb-2" style="display: flex; justify-content: end">
        <div style="width: 300px">
          <div class="row">
            <div class="col">
              <label
                for="namaBarang"
                class="form-label"
                style="color: rgb(255, 255, 255); text-transform: capitalize"
                >cari sesuai kode barang</label
              >
            </div>
          </div>
          <div class="row">
            <div class="col" style="padding: 0">
              <input
                placeholder="masukan kode"
                style="width: 200px"
                type="text"
                class="form-control"
                id="namaBarang"
                name="namaBarang"
                required
              />
            </div>
            <div class="col ms-2" style="padding: 0">
              <button type="submit" class="btn btn-primary">search</button>
            </div>
          </div>
        </div>
      </div>
      <table class="table" id="table">
        <thead>
          <tr class="text-center">
            <th scope="col">no</th>
            <th scope="col">kode Barang</th>
            <th scope="col">nama Barang</th>
            <th scope="col">jumlah barang masuk</th>
            <th scope="col">total harga beli Barang</th>
            <th scope="col">tanggal</th>
            <th scope="col">status</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length == 0) { %>
          <tr>
            <td colspan="7">
              <div class="alert alert-danger" role="alert">
                <b>data contacts kosong ;</b>
              </div>
            </td>
          </tr>
          <% } else {%> <% contacts.forEach((contact,index) => { %>
          <tr class="text-center">
            <th scope="row"><%= index + 1 %></th>
            <td><%= contact.kodeBarang %></td>
            <td><%= contact.namaBarang %></td>
            <td><%= contact.jumlahBarangMasuk %></td>
            <td><%= contact.totalHargaBeliBarang %></td>
            <td><%= contact.tanggal %></td>
            <td>
              <!-- ! BUTTON DELETE  -->
              <!-- ! DELETE SESUAI DENGAN KODEBARANG -->
              <a
                href="/dataBarangMasuk/delete/<%= contact.kodeBarang %>"
                class="btn btn-danger"
                onclick="return confirm('yakin?')"
                >delete</a
              >
            </td>
          </tr>
          <% }) %> <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <!--! VIEW BARANG END-->
</div>

<!--! FOOTER -->
<footer style="position: relative; z-index: 9999">
  <div class="container-fluid text-center bg-secondary">
    <div class="row">
      <div class="col-sm">
        <div class="container">
          <h5 style="text-transform: capitalize">tentang kami</h5>
          <h6>alamat :</h6>
          <a href="https://maps.app.goo.gl/QrKaGvXUDhe3ZHV3A"
            >&#127978; V97J+CQ Renged, Kabupaten Serang, Banten</a
          >
        </div>
      </div>
      <div class="col-sm">
        <div class="container">
          <h5 style="text-transform: capitalize">layanan</h5>
        </div>
      </div>
      <div class="col-sm">
        <div class="container">
          <h5 style="text-transform: capitalize">&#128383; hubungi</h5>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--! FOOTER END-->
